absl-py
altair
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
idna
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
namex
narwhals
numpy==1.26.4
opt_einsum
optree
packaging
pandas
pillow
protobuf==3.20.3
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow==2.15.0
tensorflow-io-gcs-filesystem
termcolor
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
